
@font-face {
    font-family: 'bad_boys_font';
    src: url(Folder/BADBOYS.TTF);
}

* {
box-sizing: content-box;
margin: 0;
padding: 0;
font-family: 'bad_boys_font' ;
color: white;
font-weight: normal;
text-decoration: none;
/* background-color: black; */
}



body, html {
    height: 100%;
    background-image: url( "background.jpg" ); 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: black;
    
    
}

.logobox a {
    
    font-size: 62pt;
    text-decoration: none;
    color: white;
    margin: 1rem;

}



nav {
    overflow: hidden;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.nav-items a {

    font-size: 42pt;
    text-decoration: none;
    color: white;
    margin: 0 1.5rem;
}


.burgers-container {

    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    grid-template-rows: repeat(1, 0.2fr);
    
    margin-top: 8rem;
    margin-left: 20rem;
    position: relative;
    

}

.burgers {

    width: auto;
    max-width: 300px;
    margin: 10px;
    font-size: 34px;
    

}

.burgers a {
   
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
    text-align: center;
}

.burger-image {
    
    width: 100%;
    max-width: 255px;
    height: auto;
    text-align: center;
    transition: transform 0.5s ease;
}


.burger-price {
    font-size: 20pt;
    margin-top: 0.5rem;
    color: white;
}

.burgers.active {
    position: absolute;
    transform: translateY(-10%);
    right: 25%;
    z-index: 10; 
    
}

.burgers.active .burger-image {
    width: 500px;
    max-width: 500px; 
}

.burgers.active .burger-name {
    font-size: 46pt;
    position: absolute;
    top: 82%; 
    right: -12%;
    z-index: 10; 
    
}

.burgers.active .burger-price {
    font-size: 20pt;
    position: absolute;
    top: 95%; 
    right: 10%; 
    z-index: 10; 
}
.order-btn {
    position: absolute;
    top: 110%;
    left: 80%;
    transform: translate(-50%, -50%); 
    padding: 10px 20px;
    font-size: 32px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10; 
}


.order-btn:hover {
    background-color: #7c7c7c;
}

.specials-container {
    display: grid;
    grid-template-columns: repeat(8, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 0.5rem;
    margin-top: 4rem;
    margin-left: 4rem;
    

    position: absolute;
    transform: translateY(-5%);
    right: 40%;
    z-index: 10; 
}


h2 {

    font-size: 60pt;
    
}

.special-option {

    margin-bottom: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;

}

.specials-container label {
    font-size: 32px; 
    display: block;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.specials-container label:hover{
    background-color: #494949;

}
.special-option:hover {
    background-color: #ffffff;
    
}

.back-button {
    color: #000;
    font-size: 36px;
    margin-top: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.back-button:hover {
    background-color: #7c7c7c;
    transition: background-color 0.3s ease;
}



