<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select specials</title>
    <link rel=stylesheet href="../static/style.css">
</head>
<body>
    <div class="specials-container" id="specials-container">
        <div class="specials">
            <h2 class="special-header" >Specials</h2>

            <a href="/">
                <div class="back-button"> Back to selection</div>
            </a>
        </div>

        <button id="order-btn" class="back-button">Place order</button>
    </div>

    <script src="../static/order_script.js"></script>
</body>
</html>