<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel=stylesheet href="../static/style.css">
</head>
<body>
    <nav>
        <div class="logobox">
            <a href=""> Grupp 20 </a>
        </div>

        <div class="nav-items">
            <a href="/">
                Home
            </a>
            <a href="/">
                Menu 
            </a>
            <a href="/">
                About Us
            </a>
        </div>
    </nav>

    <section>
        <div class="burgers-container" id="burgers-container"></div>
    </section>

    <script src="../static/script.js"></script>
</body>
</html>