<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel=stylesheet href="../static/style.css">
</head>
<body>
    <nav>

        <div class="logobox">
            <a href=""> Grupp 20 </a>
                <!-- <img src="../static/Grupp20logo.png" alt="Grupp Logo" width="255px" height="255px"> -->
                
            
    
        </div>
        <div class="nav-items">
            <!-- <a href="/views">
                <img src="../static/home.svg" alt="" width="200px" height="200px">
            </a>
            <a href="/views">
                <img src="../static/menu.svg" alt="" width="200px" height="200px">
            </a>
            <a href="/views">
                <img src="../static/contactus.svg" alt="" width="200px" height="200px">
            </a> -->
            
            <a href="/views">
                Home
            </a>
            <a href="/views">
                Menu 
            </a>
            <a href="/views">
                About Us
            </a>
            
        </div>
    </nav>
    <section>
        <div class="burgers-container">
            <div class="burgers" id="burger-1">
                <a href="#">
                    <img src="../static/Burger1.png" class="burger-image" alt="burger1">
                </a>
                <div class="burger-info">
                    <h3 class="burger-name">forest burger</h3>
                    <div class="burger-price">999 kr</div>
                </div>
            </div>
    
            <div class="burgers" id="burger-2">
                <a href="#">
                    <img src="../static/Burger2.png" class="burger-image" alt="burger2">
                </a>
                <div class="burger-info">
                    <h3 class="burger-name">flame burger</h3>
                    <div class="burger-price">999 kr</div>
                </div>
            </div>
    
            <div class="burgers" id="burger-3">
                <a href="#">
                    <img src="../static/Burger3.png" class="burger-image" alt="burger3">
                </a>
                <div class="burger-info">
                    <h3 class="burger-name">jungle burger</h3>
                    <div class="burger-price">999 kr</div>
                </div>
            </div>
    
            <div class="burgers" id="burger-4">
                <a href="#">
                    <img src="../static/Burger4.png" class="burger-image" alt="burger4">
                </a>
                <div class="burger-info">
                    <h3 class="burger-name">burger 20</h3>
                    <div class="burger-price">999 kr</div>
                </div>
            </div>
        </div>

        <div class="specials-container" style="display:none;">
            <div class="specials">
                <h2 class="special-header" >Specials</h2>

                <label>
                    <input type="checkbox"  style="font-size: 48px;" class="special-option" value="Fries"> Fries
                </label>
                <label>
                    <input type="checkbox" class="special-option" value="Extra Cheese"> Extra Cheese
                </label>
                <label>
                    <input type="checkbox" class="special-option" value="Onion Rings"> Onion Rings
                </label>

                <a href="/views">
                    <div class="back-button"> Back to selection</div>
                </a>
                
            </div>
        </div>

    </section>

    <script src="../static/script.js"></script>
</body>
</html>